#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


 body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-weight: bold;
}

.header {
  margin-bottom: 10px;
}

/* Style for the number of cards and streaks container */
.header > div {
  display: flex;
  justify-content: space-evenly; /* Space out the number of cards and the streak info */
  width: 100%; /* Stretch the container to full width */
}

/* Styles for the streak information */
#streak,
#longest-streak {
  margin: 0; /* Remove default margins */
}

/* When using a className for the streaks container */
.streak {
  display: flex;
  flex-direction: column; /* Stack streak info vertically */
  align-items: flex-end; /* Align streak info to the right */
  gap: 0.5rem; /* Provide some space between the streak items */
}



/* Styles for the Card component */
.card {
  height: 300px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px 20px 60px 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
}

.start {
  backdrop-filter: blur(10px);
}
.easy {
  background-color: rgb(131, 193, 131);
}

.moderate {
  background-color: rgb(187, 179, 54);
}

/* Styles for the Answer component */
.answer {
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer p {
  margin-bottom: 1em; 
  font-size: 1.25em;
}

.answer img {
  max-width: 100%;
  height: 250px; 
  display: block; 
}

/* Styles for the Question component, similar to Answer */
.question {
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question p {
  margin-bottom: 1em;
  text-align: center; 
  padding: 0 10px;
  font-size: 3em;
}

/* Button container styles */
.buttons-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 1em; 
  margin: 1em 0; 
}

/* Individual button styles */
.prev-button {
  order: 1; 
}

.next-button {
  order: 2; /* Ensures the next button comes after the prev button */
}

/* Style for the form */
form {
  display: flex;
  justify-content: center;
  gap: 1.25em; 
  align-items: center; 
  margin: 1em 0; 
}

/* Style for the input box */
input[type="text"] {
  width: 100%; 
  max-width: 300px; 
  padding: 0.75em;
  border-radius: 8px;
  border: 1px solid #ccc; 
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Styles for input box based on user's guess */
input.correct {
  border-width: medium;
  border-color: #28a745; /* Green border for correct guess */
}

input.incorrect {
  border-width: medium;
  border-color: #dc3545; /* Red border for incorrect guess */
}
